---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CookieBanner from '../components/CookieBanner.astro';
import Social from '../components/social.astro';
const { title = "TEA Friendly" } = Astro.props;
---

<Layout>
	<Header></Header>
	<title>{title}</title>
	<meta name="description" content="Certificamos centros educativos que atienden las necesidades de personas con autismo">
	<Welcome />
	
	<CookieBanner />
</Layout>
